body, ul, p, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;
    color: #000000; 
}
a {
    text-decoration: none;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #DEDEDE;
}
li, dt, dd{
    margin-inline-start: 0px;
    list-style: none;
}
ol {
    padding-inline-start: 0px;
}
img {
    vertical-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.topNavBar {
    margin-top: 26px;
    margin-left: 100px;
    width:90%;
    position: fixed;
}

.topNavBar .logo {
    font-family: "Arial Black";
    font-size: 22px;
    padding-top: 1px;
    float: left;
}

.topNavBar .logo .rs {
    color: #e6686a;
    margin-right: 4px;
}

.topNavBar .logo .card {
    color: #9A9DA2;
}
.topNavBar>a {
    
}

.topNavBar nav {
    font-size: 13px;
    padding: 8px 0;
    float: right;
}

.topNavBar nav a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}
.topNavBar nav ul {
    
}

.topNavBar nav ul li {
    display: inline-block;
    margin-left: 17px;
    margin-right: 17px;
}

.topNavBar nav ul li a 
{
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}

.topNavBar nav ul li a:hover {
    border-bottom-color: #dc6465;
}

.banner {
    height: 515px;
    background-image: url(../image/rs-cover-2.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
    border: 1px solid #efefef;
    width: 60%;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}

.userCard .text{
    margin:40px;
}
.userCard .text .picture {
    width: 40%;    
    float: left;
}
.userCard .text .profile {
    width: 60%;
    float: left;
}

.userCard .text .profile .welcome {
    background: #e6686a;
    color: #fff;
    display: inline-block;
    padding: 4px 16px;
    margin-bottom: 10px;
    position: relative;
}

.userCard .text .profile .triangle {
    display: inline-block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    top: 100%;
    left : 10px;
}

.userCard .text .profile dt,dd {
    float:left;
}

.userCard .text .profile dt {
    padding-top: 10px;
    width: 30%;
}

.userCard .text .profile dd {
    padding-top: 10px;
    color: #9da0a7;
    width: 70%;
}

.userCard .text .profile hr {
    margin: 20px 0;
}

.userCard > footer.media {
    background: #e6686a;
    text-align: center;
    padding:10px 0;
}

.userCard > footer.media > a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
}
.userCard > footer.media > a:hover{
    background: #CF5D5F;
}
.userCard svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}

body > main {
    margin-top: -340px;
}

body > main .downloadResume-wrapper {
    text-align: center;
}
body > main .downloadResume {
    border:1px solid #cdcfd1;
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    background: #efefef;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px;
    transition: box-shadow 0.2s;
}

body > main .downloadResume:hover {
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
}

.self-introduction {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section.skills,
section.portfolio {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

section.skills > h2,
section.portfolio > h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

section.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills > ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    padding: 42px 50px 10px;
}

section.skills > ol > li {
    float: left;
    width: 49%;
}
section.skills > ol > li:nth-child(even) {
    margin-left: 20px;
}
section.skills .progressBar {
    height: 5px;
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;
}

section.skills .progress {
    height: 100%;
    background: #e6686a;
    width: 60%;
}

section.portfolio {
    text-align: center;
}
section.portfolio > nav {
    margin-top: 32px;
    text-align: center;
}
section.portfolio > nav > ol {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}



section.portfolio > nav > ol > li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

section.portfolio > nav > ol > li:first-child{
    margin-left: 0px;
}

section.portfolio > nav {
    display: inline-block;
    vertical-align: top;
}


section.portfolio > nav .bar {
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 100px;
    border-radius: 2px;
}

section.portfolio > nav .bar-inner {
    height: 100%;
    background: #e6686a;
    
    border-radius: 2px;
    transition: all 0.3s;
}

section.portfolio > nav .bar.state-1 .bar-inner {
    margin-left:0;
    width:50px;
}

section.portfolio > nav .bar.state-2 .bar-inner {
    margin-left:50px;
    width:90px;
}

section.portfolio > nav .bar.state-3 .bar-inner {
    margin-left: 140px;
    width: 96px;
}

section.portfolio .works {
    width:80%;margin: 0 auto;
    padding:10px;
    position: relative;
}

section.portfolio .works > .big,
section.portfolio .works > .small {
    position: absolute;
}
