body, ul, p, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;
    color: #000000; 
}
a {
    text-decoration: none;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #DEDEDE;
}
li, dt, dd{
    margin-inline-start: 0px;
    list-style: none;
}

img {
    vertical-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.topNavBar {
    margin-top: 26px;
    margin-left: 100px;
    width:90%;
    position: fixed;
}

.topNavBar .logo {
    font-family: "Arial Black";
    font-size: 22px;
    padding-top: 1px;
    float: left;
}

.topNavBar .logo .rs {
    color: #e6686a;
    margin-right: 4px;
}

.topNavBar .logo .card {
    color: #9A9DA2;
}
.topNavBar>a {
    
}

.topNavBar nav {
    font-size: 13px;
    padding: 8px 0;
    float: right;
}

.topNavBar nav a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}
.topNavBar nav ul {
    
}

.topNavBar nav ul li {
    display: inline-block;
    margin-left: 17px;
    margin-right: 17px;
}

.topNavBar nav ul li a 
{
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}

.topNavBar nav ul li a:hover {
    border-bottom-color: #dc6465;
}

.banner {
    height: 515px;
    background-image: url(../image/rs-cover-2.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
    border: 1px solid red;
    width: 60%;
    background: #fff;
    margin: 0 auto;
}

.userCard .text{
    margin:40px;
}
.userCard .text .picture {
    width: 40%;    
    float: left;
}
.userCard .text .profile {
    width: 60%;
    float: left;
}

.userCard .text .profile .welcome {
    background: #e6686a;
    color: #fff;
    display: inline-block;
    padding: 4px 16px;
    margin-bottom: 10px;
    position: relative;
}

.userCard .text .profile .triangle {
    display: inline-block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    top: 100%;
    left : 10px;
}

.userCard .text .profile dt,dd {
    float:left;
}

.userCard .text .profile dt {
    padding-top: 10px;
    width: 30%;
}

.userCard .text .profile dd {
    padding-top: 10px;
    color: #9da0a7;
    width: 70%;
}

.userCard .text .profile hr {
    margin: 20px 0;
}

.userCard > footer.media {
    background: #e6686a;
    text-align: center;
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}